<style type="text/css">
 .side-nav {
    visibility: hidden;
  }

</style>

<div class="row center">
<div class="card">
<h4><strong>Login</strong></h4>
  <form class="col s6" action="/login" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Username" name="name" type="text" class="validate" value="<%= @user && @user.name %>">
      </div>
      <div class="input-field col s6">
        <input placeholder="Password" name="password" type="password" class="validate">
      </div>
    </div>
    <input type="submit" class="waves-effect waves-light orange darken-1 btn">
  </form>
  </div>
</div>
