<style type="text/css">
 .side-nav {
    visibility: hidden;
  }
</style>

<style type="text/css">
 .side-nav {
    visibility: hidden;
  }
</style>

<div class="row">
<div class="col m6 signup-form">
<h4 class="form-header"><strong>Sign in</strong></h4>
  <form class="col s12 m12 " action="/login" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Username" name="name" type="text" class="validate" value="<%= @user && @user.name %>">
      </div>
      <div class="input-field col s12">
        <input placeholder="Email" name="email" type="text" class="validate" value="<%= @user && @user.email %>">
      </div>
      <div class="input-field col s12">
        <input type="password" placeholder="Password" name="password" type="text" class="validate">
      </div>
      <a href="/login" class="form-header">Already have an account? <u>Login</u></a>
    </div>
    <input type="submit" class="waves-effect waves-light btn green accent-4 rounded-btn btn ">
  </form>
  </div>
  <div class="col m6">
    <!-- <img src="/images/asia.svg"> -->
  </div>
</div>