.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#hacker {
  height: 5px;
  width: 100%;
}

.dark {
  color: #444;
}

/*.orange {
  color: #ffab40 !important;
}*/

nav ul a:hover {
  background: none;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #444;
}

.explicit-modal .modal {
  height: 300px !important;
}

.explicit-modal .modal-content {
  padding-top: 50px !important;
}

#confirm-join-room-span {
  visibility: hidden !important;
}

.auto-margin {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* ************* Teacher Modal ************* */

.modal-teacher-pic {
  border-radius: 100%;
  height: 150px;
  width: auto;
}

.teacher-rating {
  margin-top: -15px;
  color: #ffab40;
}

.teacher-categories .chip {
  margin-bottom: 5px;
}
.modal-btns .btn {
  border-radius: 20px;
}
.user-review {
  display: inline-block;
  position: absolute;
}

/* ************* Layouts File ************* */
 #logo {
  height: 45px;
  margin-left: 20px;
  margin-top: 10px;
 }

 #logo-box {
  width: 100%;
  height: 64px;
  /*background-color: #FF9100;*/
 }

#user-navbar-img {
  border-radius: 100%;
  height: 40px;
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 5px;
}

#full-screen {
  margin-left: 120px;
}

.side-nav {
  position: fixed;
  width: 160px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: left;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px;
}

.small {
  font-size: 80%;
  margin-top: -1px;
}

.online {
  height: auto;
  width: auto;
  padding-left: 10px; 
  padding-right: 10px;
  margin-left: 75%;
  margin-bottom: -50px;
  z-index: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fb8c00;
  color: white;
  text-align: center;
}

.offline {
  height: auto;
  width: auto;
  padding-left: 10px; 
  padding-right: 10px;
  margin-left: 75%;
  margin-bottom: -50px;
  z-index: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #616161;
  color: white;
  text-align: center;
}

.online p {
  font-weight: bold;
  font-size: 10px;
}

.offline p {
  font-weight: bold;
  font-size: 10px;
}

.behind {
  z-index: 0 !important;
}

/* ************* Star Rating ************* */

.rating {
  font-family: FontAwesome;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  font-family: FontAwesome;
  content: "\f005";
  color: #ffab40;
  position: absolute;
}

/* ************* Login/Register Forms ************* */


.nav-login input {
  font-size: 15px !important;
}


/* label color */
.input-field label {
 color: #ffab40;
}

textarea:focus {
  border-bottom: 1px solid #ffab40 !important;
  -webkit-box-shadow: 0 1px 0 0 #ffab40 !important;
  -moz-box-shadow: 0 1px 0 0 #ffab40 !important;
  box-shadow: 0 1px 0 0 #ffab40 !important;
}

label[for=textarea1] {
  color: #ffab40 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #ffab40;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #ffab40;
}

/* Password */
/* label focus color */
.input-field input[type=password]:focus + label {
 color: #ffab40;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid #ffab40;
 box-shadow: 0 1px 0 0 #ffab40;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #ffab40;
}