<h3><strong>Chat Overview</strong></h3>
<hr>
<table class="responsive-table striped">
  <thead>
    <tr>
        <th data-field="id">Host Name</th>
        <th data-field="name">Start Time</th>
        <th data-field="price">End Time</th>
        <th data-field="price">Hourly Rate</th>
        <th data-field="price">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>host_name</td>
      <td>start_time</td>
      <td>end_time</td>
      <td>hourly_rate</td>
      <td>total</td>
    </tr>
  </tbody>
</table>
<br><br>
<hr>
<p>Your account has been debited $__________. Your balance is $__________.</p>

<a href="/" class="right waves-effect waves-light btn dark grey rounded-btn lighten-3">Return Home</a>


