<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Webcam App</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>

  <!-- Top Navbar -->
  <nav class="dark-pattern">
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div class="row">

        <% if current_user %>
          <li><a class='dropdown-button' href='#' data-beloworigin='true' data-activates='dropdown1'><%= current_user.name %></a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!"><span class="left">View Profile </span> <i class="fa fa-user right"></i></a></li>
            <li><a href="#!"><span class="left">Settings </span><i class="fa fa-cog right"></i></a></li>
            <li class="divider"></li>
            <li><a href="/logout"><span class="left">Logout </span><i class="fa fa-power-off right"></i></a></li>
          </ul>
            <li><a href="#" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Go Online"><i id="power-on" data-current-user-id="<%= current_user.id %>" class="fa fa-power-off fa-2x"></i></a></li>
        <% end %>

        </div>
      </ul>
    </div>
  </nav>
  
  <!-- Side Navbar -->
  <ul class="side-nav fixed">
    <div id="logo-box">
    <a href="/"><img id="logo" src="/images/logo1.svg"></a>
      <!-- <img src="http://placehold.it/160x65"> -->
    </div>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#!">Computers</a></li>
      <li><a href="#!">Finance</a></li>
      <li><a href="#!">Legal</a></li>
      <li><a href="#!">Design</a></li>
      <li><a href="#!">Sports</a></li>
      <li><a href="#!">Gaming</a></li>
      <li><a href="#!">Food</a></li>
      <li><a class="modal-trigger" href="#explicit">Adult</a></li>
  </ul>
<body>







   <div class="container">
    <div class="section">
      <div class="section scrollspy">
        <div class="row">
            
          <%= yield %>

        </div> <!-- /row -->
      </div> 
    </div> <!-- /section -->
  </div> <!-- /container -->






  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>
</html>

