<style type="text/css">
 .side-nav {
    visibility: hidden;
  }
</style>



<!-- <a class="modal-trigger" href="#modal1">Login</a> -->


  <!-- Teacher Profile Modal -->

<!--   <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      

 -->


<div class="row">
  <form class="col s6">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Username" id="first_name" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <input placeholder="Email" id="last_name" type="text" class="validate">
      </div>
    </div>
  </form>
</div>





 <!--    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>

 -->



